@model AppUserModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-5">
    <div class="col-6">
        <h3>
            User Information
        </h3>
        <p>
            User Name : @Model.Name
        </p>
        <p>
            User Surname : @Model.Surname
        </p>
        <p>
            User's active account count : <getAccountCount app-user-id="@Model.Id"></getAccountCount>
        </p>
    </div>
    <div class="col-6">
        <h3>
            Adding process
        </h3>
        <form asp-action="Create" asp-controller="Account" method="post">
            <input type="hidden" name="AppUserId" value="@Model.Id" />
            <div class="mb-3">
                <label for="AccountNumber">Acoount Number :</label>
                <input type="number" name="AccountNumber" class="form-control" min="0" />
            </div>
            <div class="mb-3">
                <label for="Balance">Balance :</label>
                <input type="number" name="Balance" class="form-control" min="0" />
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Save</button>
            </div>
        </form>
    </div>
</div>

